{
    "parser": "babel-eslint",
    "plugins": [
        "flowtype"
    ],
    "extends": "airbnb",
    "env": {
        "es6": true,
        "node": true,
        "browser": true,
        "jest": true
    },
    "settings": {
        "import/resolver": "webpack",
        "flowtype": {
            "onlyFilesWithFlowAnnotation": true
        }
    },
    "globals" : {
        "window": true,
        "IS_PRODUCTION": true,
        "React": true
    }
}
